* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*header, main, footer, .form {
	border: 2px solid green;
}*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: arial;
}
header {
	display: flex;
	justify-content: flex-end;
}
.ul {
	margin-top: 2em;
}
.ul a {
	color : black;
	text-decoration: none;
	font-size: small;
	padding: 1.1em;
}
a:hover {
	text-decoration: underline;
	color: #272727;
}
#connexion {
	background-color : #4485f6;
	padding: 0.5em 1.2em;
	margin: 0 1.2em;
	color : white;
	font-weight: bold;
}
main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.recherche2 {
box-shadow: 0px 2px 2px silver;
height : 3em;
width: 632px;
border: 1px solid silver;
background:url(micro.png) 97% no-repeat;
outline: none;
}
.recherche2:hover {
box-shadow : 0px 4px 4px silver, 2px 0px 2px silver, 0px 0px 0px silver, -2px 0px 2px silver;
border: 1px solid silver;
}
.bouton2 {
color: #757575;
font-size : 13px;
font-weight: bold;
padding: 0.9em 1.2em;
border : none;
background-color: #f2f2f2;
outline: none;
}
.bouton2:hover {
	color : black;
	border : 1px solid silver;
}
.bouton3{
	color: #757575;
	font-size : 13px;
	font-weight: bold;
	padding: 0.9em 1.2em;
	border : none;
	background-color: #f2f2f2;
	outline: none;
}
.bouton3:hover {
	color : black;
	border : 1px solid silver;
}
footer {
	display: flex;
	justify-content: space-between;
	flex-direction : column;
	background-color: #f2f2f2;
	font-size: 0.9em;
}
#fr {
	padding-left: 27px;
	line-height: 40px;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	color: #666666;
}
#menu_bas {
	display: flex;
	justify-content: space-between;
	padding-left: 27px;
	line-height: 40px;
}
#menu_bas a {
	padding-right: 25px;
	color: #666666;
	font-size: small;
	text-decoration: none;
}
#menu_bas a:hover {
	text-decoration: underline;
}
